@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

.main {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  padding: 16px;
  font-family: 'Noto Sans JP', sans-serif;
}

.notfound {
  height: calc(100vh - 64px - 100px);
  text-align: center;
  @media screen and (max-width: 768px) {
    height: calc(100vh - 48px - 100px);
  }
  & svg {
    width: 80vh;
    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }
}
